<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/homeAdmin.css">
    <title>homeAdmin</title>
</head>
<body>
    <header>
        <%- include('./layout/headerAdmin.ejs') %>
    </header>
    <br>
    <div class="mainContent">
            

        <!-- Container content -->
        <div class="innerContent">

            <div class="leftContainer">

                <div class="topLeftContainer">
                    <img src="assets/images/adminIcon.jpg" class="logoAdmin" alt="profile">
                    <!-- Diganti ejs nanti -->
                    <p><%= nama %></p>
                    <p><%= noID %></p>
                    <p><%= namaRole %></p>    
                </div>
                
                <div class="bottomLeftContainer">
                    <img src="assets/images/logoUnpar.png" class="logoUnparHome" alt="logoUnpar">
                    <a class="" href="https://unpar.ac.id/">unpar.ac.id</a>
                    <a class="" href="https://informatika.unpar.ac.id/">informatika.unpar.ac.id</a>
                </div>

            </div>

            <div class="rightContainer">
                <a class="wrapper" href="http://localhost:8080/daftarUser">
                    <div class="innerRightContainer1">
                        <img src="assets/images/bookIcon.jpg" class="bookIcon" alt="">
                        <h3>Daftar User</h3>
                    </div>
                </a>

                <a class="wrapper" href="http://localhost:8080/daftarProker">
                    <div class="innerRightContainer2">
                        <img src="assets/images/adminIcon.jpg" class="akunSaya" alt="">
                        <h3>Daftar Program Kerja</h3>
                    </div>
                </a>

                <a class="wrapper" href="http://localhost:8080/daftarRAB">
                    <div class="innerRightContainer3">
                        <img src="assets/images/listIcon.png" class="listIcon" alt="">
                        <h3>Daftar Rancangan Anggaran Belanja</h3>
                    </div>
                </a>
                <a href="http://localhost:8080/daftarProposal" class="wrapper">
                    <div class="innerRightContainer4">
                        <img src="assets/images/adminIcon.png" class="adminIcon" alt="">
                        <h3>Daftar Proposal Program Kerja</h3>
                    </div>
                </a>

            </div>

        </div>

    </div>
    <br>
    <footer>
        <%- include('./layout/footer.ejs') %>
    </footer>
</body>
</html>