<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/kelolaAkunLanjutan.css">
    <title>Add Staffs</title>
</head>
<body>
    <body>
        <header>
            <%- include('./layout/header.ejs') %>
        </header>
    
        <!-- <div class="kelolaAkunContainer">
            <div class="kelolaAkunTop">
                <a href="http://localhost:8080/daftarUser">
                    <img src="/assets/images/leftArrow.png" alt="">
                </a>
                <h1>Tambah Anggota</h1>
            </div> -->
    
            <br>
            
            <div class="kelolaAkunMain">
                <h1>Tambah Anggota </h1>

                    <!-- <div class="innerMain"> -->
                        <!-- <div class="innerMain"> -->
                            <form action="/addStaff/" method="post">
                                <fieldset>
                                    <% for (const row of results) { %>
                                    <h3>Pilih Anggota Himpunan untuk ditambahkan menjadi anggota kepanitiaan untuk <%= row.namaProker %></h3>
                                    <% } %>
                                    <label for=""> Pilih Staff</label>
                                    <select name="addNama" id="">
                                        <% for (const row of staffs) { %>
                                        <option value=<%= row.NPM %>><%= row.nama %></option>
                                        <% } %>
                                    </select>
                                    
                                    <label for=""> Jabatan</label>
                                    <select name="Roles" id="">
                                        <option value="Sekretaris / Bendahara">Sekretaris / Bendahara</option>
                                        <option value="Staff">Staff</option>
                                    </select>
                                    <% for (const row of results) { %>
                                    <input type="hidden" name ="id" value="<%= row.idProker %>">
                                    
                                    <% } %>
                                    <input type="submit" id="gantiNama" value="Tambah User">
                                </fieldset>
                            </form>
                        <!-- </div> -->
                            
                    <!-- </div> -->
            </div>
        
    
        </div>
    
        
    </body>
</body>
</html>